---
---

@import "{{site.theme}}";


.red-row {
    background-color: rgba(250, 14, 10, 0.432);
}

.green-row {
    background-color: rgba(10, 255, 17, 0.432);
}

body {
    word-wrap: break-word;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 34px;
}


ul, li, p, table, figcaption, span, code {
    font-size: 16px;
}

// .header-row {
//     background-color: rgba(255, 255, 255, 0.432);
// }
code.language-plaintext.highlighter-rouge {
    display: inline-block;
    background-color: rgba(10, 8, 2, 0.397);
    border-radius: 5px;
    transition: .3s;
}

code.clickable{
    display: inline-block;
    background-color: rgba(10, 8, 2, 0.397);
    border-radius: 5px;
    transition: .3s;
    color: rgb(255, 213, 43);
}

code.clickable:hover{
    opacity: 70%;
    // padding-bottom: 10px;
    transform: scale(1.2);
}

#header {
    display: none;
}

.figure-container, .figure-container-small{
    border: 1px solid rgba(255, 255, 255, 0.514);
    margin: 2em 0em;
    max-width: 70em;
    // padding: 3em;
}


figcaption {
    border-top: 1px solid rgba(255, 255, 255, 0.514);
    font-size:18 px;
    text-align: center;
}

.figure{
    filter: invert(1);
}

.figure, .figure2 {
    max-height: 70em;
}

.figure-container-small{
    max-width: 40em;
}

.execution-sequence{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.table-wrapper {
    overflow-x:scroll;
}
section{
    max-width: 100%;
}
/* .inner */
.wrapper {
    max-width: 80%;
}

blockquote {
    background-color: #ffcc0007;
    border-left: 3px solid #ffcc0077;
    padding: 0px 10px;
    margin: 5px 0px;
}
ul {
    padding-left: 25px;
    list-style-image: none;
}

.small-text {
    opacity: 30%;
    transition: 0.5s;
}

.small-text:hover {
    opacity: 100%;
}
.small-text * {
    font-size: small;
}
